.faq {
    width: 100%;
    height: auto;
    padding: 15px;
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_faq {
    color: var(--verde-escuro);
    font-family: var(--titulo);
    font-size: var(--font-titulo-mobile);
    font-weight: var(--peso-titulo);
    padding: 5px;
    text-align: center;
}

.faq_question {
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-family: var(--titulo);
  font-weight: 700;
  background: var(--verde-escuro);
  color: var(--branco);
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between
  ;
  align-items: center;
}

.faq_answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background: var(--branco);
  padding: 0 1rem;
}

.faq_answer p {
  margin: 1rem 0;
}

.faq_item.active .faq_answer {
  max-height: 200px; /* altura suficiente para o texto */
}

.faq_item.active .faq_icon {
  transform: rotate(45deg); /* vira o + em x */
}
