@media(min-width: 768px) {
    .hero {
        padding: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 50vh;

    }

    .container_hero {
        gap: 20px;
    }

    .title_hero,
    .title_beneficio,
    .title_depoimentos,
    .title_explicacao,
    .title_oferta,
    .title_faq {
        font-size: var(--font-titulo-tablet);
        padding: 10px;
    }

    .legenda_hero,
    .legenda_oferta {
        margin-bottom: 20px;
        font-size: var(--font-sub-tablet);
    }

    .btn_destaque {
        margin: 20px 0;
        padding: 15px;
    }

    .logo {
        padding: 20px;
    }

    .logo, .logo_img {
        width: 400px;
    }

    .btn_cta,
    .btn_grande {
        width: 50%;
        padding: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        font-weight: var(--peso-medio);
        font-size: var(--font-sub-tablet);
    }

    .prova_social {
        margin-top: 10px;
        font-size: var(--font-subMenor-tablet);
    }

    img {
        width: 50%;
        height: 100%;

    }
    
    .faq {
        display: flex;
        align-items: stretch;
        padding: 30px;
    }

    .beneficios,
    .cabecalho,
    .depoimentos,
    .explicacao,
    .oferta{
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .lista_beneficios,
    .lista_depoimentos,
    .lista_explicacao,
    .cards_oferta {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1 1 calc(50% - 1rem);
        align-items: stretch;
        justify-content: center;
    }

    .item_beneficio,
    .item_explicacao,
    .item_oferta,
    .card {
        width: 300px;
        font-size: var(--font-regular);
        text-align: center;
        justify-content: center;
    }

    .bloco_footer_1,
    .bloco_footer_2,
    .bloco_footer_3 {
        width: 400px;
    }
}

@media (min-width: 1024px) {

    .hero {
        min-height: 100vh;
    }

    .beneficio {
    flex: 1 1 45%; /* força 2 colunas */
    }

    img {
        width: 100%;
        height: auto;
    }

    .lista_beneficios {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        align-items: stretch;
        justify-content: center;
        gap: 10px;
    }

    .item_beneficio {
        width: auto;
        align-items: stretch;
        height: auto;
        padding: 20px;
    }

    .btn_cta,
    .btn_grande {
        width: 250px; 
    }

    .hamburguer {
        display: none; /* some o ícone */
    }

    .menu {
        position: static;
        height: auto;
        flex-direction: row;
        background: none;
        box-shadow: none;
        width: auto;
        gap: 30px;
        right: 0;
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .legenda_footer {
        text-align: left;
    }
}